<section id="main">
    <!-- Page Content -->
    <h1>Visket Reference Manual</h1>
    <small>Last updated: {{ now.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</small>
    <p>内容は開発中のものです。仕様は予告なく変更される場合があります。</p>
    <h2>TOC</h2>
    {{ range $index, $element := where (.Site.RegularPages.ByParam "sec") "Section" "in" .Site.Params.mainSections }}
        {{ .Title }}
        {{ .TableOfContents }}
    {{ end }}
    {{ range $index, $element := where (.Site.RegularPages.ByParam "sec") "Section" "in" .Site.Params.mainSections }}
    <div class="container">
        <h2 class="section-heading">{{ .Title }}</h2>
        {{ .Content | safeHTML }}
    </div>
    {{ end }}
</section>